# Server Configuration
PORT=3000
NODE_ENV=development

# WhatsApp Configuration
TEST_NUMBER=244929782402
SESSION_NAME=zapnode-session
CHROME_PATH=C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe
HEADLESS=false

# Features
AUTO_REPLY=true
WELCOME_MESSAGE=true
LOGGING=true

# Message Filters
IGNORE_GROUPS=true
IGNORE_STATUS=true
IGNORE_NEWSLETTERS=true

# Webhook
WEBHOOK_ENABLED=true
